@{
    ViewData["Title"] = "View project requests";
}

<style>
    table {
      border-spacing: 0 15px;
      align-self: center;
    }
    th {
      background-color: #4287f5;
      color: white;
    }
    th,
    td {
      width: 300px;
      text-align: center;
      border: 1px solid black;
      padding: 5px;
    }
    h2 {
      color: #4287f5;
    }
</style>

<div class="text-center">
    <h2 class="display-4" style="text-align: left">История запросов проекта</h2>
    <br>
    <table>
        <tr>
            <td>Id</td>
            <td>Время запроса</td>
            <td>Запрос</td>
        </tr>
        @foreach (var req in Model)
        {
            <tr>
                <td>@req.Id</td>
                <td>@req.Date</td>
                <td>@req.Url</td>
            </tr>
        }
    </table>
</div>
